.Atributos {
    position: relative;
    height: fit-content;
    text-align: center;
    margin-top: 30px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    border: none;
    h3 {
        text-align: center;
    }
    .bi {
        position: absolute;
        top: 0px;
        right: 15px;
        border: none
    }
    .stat {
        font-weight: 800;
        font-size: 20px;
        max-width: 120px;
        padding: 5px 15px;
        margin: 10px auto;
        .valor {
            position: relative;
            border: 1px solid var(--higlight-color);
            height: 60px;
            font-weight: 10;
            letter-spacing: 4px;
            padding: 10px 10px;
            border-radius: 10%;
            input {
                border: none;
                width: 100%;
                height: 100%;
                font-size: 20px;
                font-weight: 100;
            }
        }
        .modificador {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: calc(-60%);
            left: calc(50% - 25px);
            vertical-align: middle;
            letter-spacing: 0px;
            font-size: 18px !important;
            font-weight: 600;
            background-color: var(--higlight-color);
            border: 1px solid var(--higlight-color);
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }
    }
}
