.HitPoints {
    border: 1px solid var(--higlight-color);
    padding: 0.2rem;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 3);
    .input{
        grid-column: 1;
        width: 100%;
        margin: 0;
        padding: 3px;
        border: 1px solid var(--higlight-color);
        button {
            width: 100%;
            height: 30px;
            border: none;
        }
        input {
            width: 55px;
            height: 30px;
            padding: 0 3px;
        }
    }
    .hp {
        grid-column: 2;
        grid-row: 1 / 4;
        p {
            font-size: 1.5rem;
            height: 100%;
            margin: auto;
            align-content: center;
        }
    }
   
}