.HitPoints {
    border: 1px solid var(--higlight-color);
    padding: 0.2rem;
    margin: 15px 20px 0 0;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 3);
    .input{
        grid-column: 1;
        width: 80px;
        margin: 2px;
        border: 1px solid var(--higlight-color);
        button {
            width: 100%;
            height: 40px;
            border: none;
        }
        input {
            text-align: center;
            font-size: 18px;
            width: 100%;
            height: 40px;
            padding: 0 3px;
        }
    }
    .hp {
        grid-column: 2;
        grid-row: 1 / 4;
        p {
            font-size: 1.5rem;
            height: 100%;
            margin: auto;
            align-content: center;
        }
    }
   
}