#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  --higlight-color: #654fc6;
}

@media screen and (min-width: 920px) {
  .principal {
    display: flex;
    flex: 0 1 100%;
    margin: auto;
    padding: 5em;
  }
  .Habilidades {
    flex: 1;
    max-width: max-content !important;
    .skills-body{
      max-height: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      p{
        min-width: max-content;
        margin: 0 15px 0 0;
      }
    }
  }
  .Atributos {
    flex: 1;
    max-width: 700px;
    min-width: 375px;
  }

}